*{
    font-family: 'Montserrat', sans-serif;
}

html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

:root{
    --padding-container: 100px 0;
    --color-title: #001a49;
}


.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow:hidden;
    padding: var(--padding-container);
}


/* Habilidades */

.container_about{
    background-color:#1e3c72;
    color: #fff;
}

.iconos__sobre{
    width: 60px;
}

.about__subtitle{
    color: #fff;
    font-size: 6rem;
    text-align: center;
    padding-top: 70px;
}


/* Sobre mi */

.sobre__main{
    grid-area: content;
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.sobre__title{
    font-size: 5rem;
    letter-spacing: 2px;
}

.sobre__subtitle{
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    text-align: left;
}

.sobre__img{
    width: 100%;
   }


/* Proyectos */

.proyects{
    background-color:#1e3c72;
    height: max-content;
}


.proyects__subtitlee{
    color: #fff;
    font-size: 6rem;
    text-align: center;
    padding-top: 70px;
}


/* Footer y Contacto */

.footer{
    background-color:#1e3c72;
}


.footer__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -120px;
}

.nav--footer{
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
}

.footer__copy{
    --padding-container: 3px 0;
    text-align: center;
    color: white;
}

.footer__copyright{
    font-weight: 300;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 200%;
}

.footer__icons{
    display: inline-flex;
    margin: 10px;
}

.footer__paragraph{
    font-size: 25px;
    color: #fff;
    padding-top: 30px;
    display: block;
}

.footer__titlee{
    font-size: 6rem;
    color: #fff;
}
.footer__copytxt{
    padding-bottom: 10px;
}

/* Media queries */

@media (max-width:800px){
    
    .nav__menu{
        display: block;
    }

    .nav__link--menu{
        position: fixed;
        background-color: #000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }

    .nav__link--show{
        --show: block;
        opacity:1 ;
        pointer-events: unset;
    }

    .nav__close{
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }

    .hero__title{
    font-size: 2.5rem;
    }

    .about__main{
        gap: 2em;
    }
    

    .knowledge__container{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 3em;
        text-align: center;
    }

    .proyects__container{
        grid-template-columns: 30px 1fr 30px;
    }

    .proyects__body{
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        gap: 3em;
        justify-items: center;
    }


    .proyects__img{
        width: 200px;
        height: 200px;
    }

    .footer__container{
        flex-wrap: wrap;
    }

    .nav--footer{
        width: 100%;
        justify-items: center;
    }

    .nav__link--footer{
        width: 100%;
        justify-content: space-evenly;
        margin: 0;
    }

    .knowledge__img{
        max-width: 100%;
    }
    .knowledge__picture{
        width:100%;
        max-width:640px;
    }
    .footer__titlee{
        font-size: 100px;
    }
    
}

@media (max-width:600px){

    .about__subtitle{
        font-size: 52px;
        text-align: left;
        
    }

    .hero__title{
        font-size: 80px;
    }

    .hero__paragraph{
        font-size: 1rem;
    }

    .subtitle{
        font-size: 1.8rem;
    }
    
    .proyects__subtitlee{
        font-size: 3.5rem;
    }

    .knowledge__subtitle{
        font-size: 3.5rem;
        text-align: justify;
    }
    .knowledge__paragraph{
        text-align: left;
    }

    .knowledge__img{
        margin: auto;
    }

    .footer__titlee{
        font-size: 60px;
        text-align: left;
    }

    .nav--footer{
        padding: 0;
        margin-bottom: 40px;
    }
    
    .nav--footer{
        padding-bottom: 50px;
    }

    .footer__inputs{
        flex-wrap: wrap;
    }
    .footer__input{
        flex-basis: 100%;
        margin: 0;
        margin-bottom: 16px;
    }

    .footer__submit{
        margin: 0;
        width: 100%;
        
    }
}

.mb-3, text-white{
    font-size: 30px;
    padding-top: -200px;
}

#btnScrollToTop{
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: #1e3c72;
    border: none;
    outline: none;
    cursor: pointer;
}

#btnScrollToTop:active{
    background-color: rgba(255, 255, 255, 0.829);
}

.content{
    padding: 10px;
    color: #666;
}

.card{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14)!important
}

.hero{
    color: #fff;
    background-color: #1e3c72;
    display: grid;
    grid-template-rows: max-content 1fr;
    grid-template-areas: 
    "nav"
    "content";
    min-height: 100vh;
}

.containerr{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.nav{
    grid-area: nav;
    display: grid;
    justify-content: space-between;
    grid-auto-flow: column;
    gap: 1em;
    align-items: center;
    height: 90px;
}

.nav__list{
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    gap: 2em;
}

.nav__links{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.nav__logo{
    font-size: 1.8rem;
    font-weight: 300;
}

.nav__menu{
    display: none;
}

.nav__icon{
    width: 30px;
}

/* Hero */

.hero__main{
    grid-area: content;
    display: grid;
    gap: 2em;
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.hero__title{
    font-size: 3rem;
    letter-spacing: 2px;
}

.hero__subtitle{
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: 300;
}

.hero__img{
 width: 100%;
}

@media (max-width:800px) {

    .nav__list{
        display: none;
    }

    .nav__menu{
        display: block;
    }
    .hero__main{
        grid-template-rows:max-content max-content;
        grid-template-columns:1fr;
        text-align: center;
    }
    .sobre__main{
        grid-template-rows:max-content max-content;
        grid-template-columns:1fr;
        text-align: center;
    }
}

